/* proffesional section */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.125rem;
}

.card {
    width: 20rem;
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #f0f0f0;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.title {
    position: absolute;
    inset: auto auto 1.875rem 5.625rem;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-size: 1.5rem;
    color:black;
    font-weight: normal;
    text-transform: uppercase;
}

.role {
    font-size: 1rem;
    text-align: center;
}


.content {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
    color: rgb(114, 92, 92);
    inset: auto auto 3.125rem 6.25rem;
}



.card:hover .title {
    inset: auto auto 8.125rem 5.625rem;
    transition: inset 0.3s ease-out;
}

.card:hover .content {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
}

.card:hover .image {
    transition: opacity 0.3s ease-in;
    opacity: 1;
}
